.road {
  display: flex;
}
.road__page--style {
  font-family: Raleway;
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 27px;
  color: black;
}
/* Примеры товаров Примеры товаров Примеры товаров Примеры товаров Примеры товаров*/
.lsitclothes__list {
  display: flex;
  justify-content: center;
}

.lsitclothes__item--button {
  border: none;
  background-color: #fff;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 27px;
  color: black;
}

/* Каталог  */
.kalalogclothes {
  display: flex;
  position: relative;
}
.kalalogclothes__filter {
  width: 20%;
  padding: 0 10px 0 10px;
}
.kalalogclothes__items {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 0 15px;
  overflow-y: scroll;
  align-content: flex-start;
}
.kalalogclothes__items.hiden .kalalogclothes__item {
  display: none;
}
.lsitclothes.hiden {
  display: none;
}
.kalalogclothes__item {
  width: 22%;
  padding: 15px;
  margin: 8px 8px;

  border: 1px solid #c4c4c4;
  border-radius: 15px;
  max-height: 500px;
  cursor: pointer;
}
.kalalogclothes__title--style,
.kalalogclothes__prise--style {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 27px;
  line-height: 30px;
}
.kalalogclothes__item--photo {
  margin: 13px 0 7px 0;
}
@media (max-width: 992px) {
  .kalalogclothes__item {
    width: 30%;
  }
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
@media (max-width: 413px) {
}
/* Модальные окна каталог Модальные окна каталог Модальные окна каталог Модальные окна каталог */
.modalwindow {
  position: absolute;
  left: 0;
  background-color: #fff;
  width: 100%;
}
.modalwindow__content {
  display: flex;
  justify-content: center;
}
.modalwindow__info {
  display: flex;
  flex-direction: column;
}
.modalwindow__title--style {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 33px;
  line-height: 35px;
}
.modalwindow__prises--style {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 27px;
  line-height: 35px;
}
.ModalwindowBack {
  width: 30px;
}
.modalwindow__photo {
  width: 45%;
  display: flex;
}
.modalwindow__photo--small {
  width: 32.4%;
  margin: 0 5px 0 0;
}
.modalwindow__photo--big {
  width: 65.4%;
}
.modalwindow__sizes {
  width: 400px;
}
.modalwindow__size {
  border: 1px solid #8e8e8c;
  margin: 20px 12px 25px 12px;
  width: 60px;
  padding: 7px;
  border-radius: 15px;
  cursor: pointer;
}
.Modalkatalog__item--input {
  display: none;
}
.Modalkatalog__item--label {
  padding: 0 0 0 10px;
}
.modalwindow__size--style {
  border: 1px solid #8e8e8c;
  padding: 5px 10px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 19px;
  line-height: 25px;
}
.modalwindow__size--List {
  transform: scale(0);
  display: flex;
}
.modalwindow__size--title.hiden ~ .modalwindow__size--List {
  transform: scale(1);
  transition: transform 0.2s ease 0s;
  justify-content: center;
}
.modalwindow__add {
  display: flex;
  justify-content: space-between;
}
.modalwindow__add--item {
  width: 48%;
}
.modalwindow__add--button {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #8e8e8c;
  background-color: #fff;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 19px;
  line-height: 25px;
}
.modalwindow__description--prase {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 25px;
}
.modalwindow__composition--style {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 23px;
}

/* Фильтрер фильтер Фильтрер фильтер Фильтрер фильтер Фильтрер фильтер Фильтрер фильтер */
.filter {
  margin: 0 0 0 40px;
}
.fiter__burger {
  width: 50px;
  height: 30px;
  position: relative;
  z-index: 1;
  display: none;
}
.fiter__burger--icon {
  top: 12px;
  position: absolute;
  content: "";
  height: 6px;
  width: 40px;
  background-color: #8e8e8c;
  transition: all 0.3s ease 0s;
}
.fiter__burger::before,
.fiter__burger::after {
  content: " ";
  background-color: #8e8e8c;
  position: absolute;
  width: 100%;
  height: 6px;
  transition: all 0.3s ease 0s;
}
.fiter__burger::before {
  top: 0;
}
.fiter__burger::after {
  bottom: 0;
  width: 27px;
}

.filter__title {
  margin: 10px 0 10px 0;
}
.filter__title--size {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 27px;
  line-height: 30px;
  cursor: pointer;
}
.filter__title--gender {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 27px;
  line-height: 30px;
  cursor: pointer;
}
.filter__title--color {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 27px;
  line-height: 30px;
  cursor: pointer;
}
.filter__title--type {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 27px;
  line-height: 30px;
  cursor: pointer;
}
.filter__title--season {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 27px;
  line-height: 30px;
  cursor: pointer;
}
.filter__title--composition {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 27px;
  line-height: 30px;
  cursor: pointer;
}
.filter__send {
  margin: 10px 0 10px 0;
}
.filter__send--text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 30px;
  color: #ffffff;
  background-color: #8e8e8c;
  border: none;
  width: 100%;
  padding: 11px;
  border-radius: 15px;
  cursor: pointer;
}
.filter__send--text:hover {
  border: 1px solid #8e8e8c;
  background-color: #fff;
  color: #8e8e8c;
}
.filter__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: scale(0);
  height: 0;
}
.filter__list--color {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  transform: scale(0);
  height: 0;
}
.filter__list.show {
  transform: scale(1);
  transition: transform 0.2s ease 0s;
  height: 100%;
  border-bottom: 1px solid #8e8e8c;
}
.filter__list--color.show {
  transform: scale(1);
  transition: transform 0.2s ease 0s;
  height: 100%;
  border-bottom: 1px solid #8e8e8c;
}
.filter__item {
  width: 100%;
  position: relative;
  padding: 0 0 0 10px;
  margin: 10px 0 10px 0;
}
.filter__item--color {
  width: 13%;
  height: 20px;
  position: relative;
  margin: 10px 7px 10px 7px;
}
.filter__item--input {
  display: none;
}
.filter__item--check {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
}

.filter__item--input:checked + .filter__item--check::before {
  transform: scale(1);
}

.filter__item--input:checked + .filter__color--check::before {
  border: 2px solid #8e8e8c;
  width: 16.5px;
  height: 16.5px;
}

.filter__color--check::before {
  position: absolute;
  content: " ";
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.filter__color--check::after {
  border: 5px solid #8e8e8c;
}
.filter__color--red::before {
  background-color: red;
}
.filter__color--white::before {
  border: 1px solid #8e8e8c;
}
.filter__color--green::before {
  background-color: green;
}
.filter__color--purple::before {
  background-color: purple;
}
.filter__color--blue::before {
  background-color: blue;
}
.filter__color--rainbow::before {
  background: linear-gradient(to top left, powderblue, pink);
}
.filter__color--yellow::before {
  background-color: yellow;
}
.filter__color--gray::before {
  background-color: gray;
}
.filter__color--black::before {
  background-color: black;
}
.filter__item--check::before {
  transition: transform 0.2s ease 0s;
  position: absolute;
  content: "";
  background: #fff;
  border: 4.5px solid #8e8e8c;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  transform: scale(0);
  left: -8px;
  top: 3px;
}
@media (max-width: 768px) {
  .filter {
    margin: 0 0 0 0;
  }
  .fiter__burger {
    margin: 0 0 0 40px;
    display: block;
  }

  .lsitclothes__list {
    flex-wrap: wrap;
  }
  .lsitclothes__item {
    white-space: nowrap;
  }
  .kalalogclothes {
    display: block;
  }
  .kalalogclothes__items {
    width: 100%;
  }
  .filter__category--list {
    display: none;
  }
  .filter__category--list.filterShow {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    background-color: #fff;
    top: 0;
    padding: 30px 0 0 40px;
    left: 0;
  }
  .filter__size,
  .filter__gender,
  .filter__color,
  .filter__type,
  .filter__season,
  .filter__composition {
    width: 100%;
  }
  .filter__type {
    width: 100%;
  }

  .filter__list.show {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .filter__list {
    display: flex;
    flex-direction: column;
    height: 0;
    flex-wrap: wrap;
    align-items: center;
  }
  .filter__list.show {
    transform: scale(1);
    transition: transform 0.2s ease 0s;
    height: fit-content;
    border-bottom: 1px solid #8e8e8c;
  }
  .filter__list--color.show {
    height: fit-content;
  }
  .filter__item {
    width: 25%;
    display: flex;
    justify-content: flex-start;
  }

  .filter__send {
  }
}
@media (max-width: 576px) {
  .filter__item {
    width: 40%;
    display: flex;
    justify-content: flex-start;
  }
  .kalalogclothes__item {
    width: 45%;
  }
}

/* .kalalogclothes__size {
  display: flex;
}
.kalalogclothes__size--item {
  padding: 0 5px 0 5px;
}
.kalalogclothes__title--style {
  font-family: Raleway;
  font-style: normal;
  font-weight: 200;
  font-size: 32px;
  line-height: 35px;
  color: #fff;
  border: none;
  background-color: #fff;
  background-image: url(../photo/katalog/bg.svg);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 10px 28px 10px 10px;
  margin: 10px 0 10px 0;
}
.kalalogclothes__size--button {
  border: none;
  background-color: #fff;
  font-family: Raleway;
  font-style: normal;
  font-weight: 200;
  font-size: 19px;
  line-height: 23px;
}
.kalalogclothes__color {
  display: flex;
  flex-wrap: wrap;
}
.kalalogclothes__color--item {
  width: 18%;
}
.kalalogclothes__color--buttton {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
}

.red {
  background-color: rgb(241, 59, 59);
}

.grin {
  background-color: rgb(99, 228, 99);
}
.black {
  background-color: black;
}
.purple {
  background-color: rgb(218, 86, 218);
}
.white {
  border: 1px solid black;
}
.pink {
  background-color: rgb(211, 151, 161);
}

.kalalogclothes__material--button {
  border: none;
  background-color: #fff;
  font-family: Raleway;
  font-style: normal;
  font-weight: 200;
  font-size: 23px;
  line-height: 25px;
  color: black;
}
.kalalogclothes__material {
  display: none;
}
.kalalogclothes__material.active {
  display: block;
}

.kalalogclothes__material--item {
  margin: 10px 0 10px 0;
}
.kalalogclothes__type {
  display: none;
}
.kalalogclothes__type.active {
  display: block;
}
.kalalogclothes__type--item {
  margin: 10px 0 10px 0;
}
.kalalogclothes__type--button {
  border: none;
  background-color: #fff;
  font-family: Raleway;
  font-style: normal;
  font-weight: 200;
  font-size: 23px;
  line-height: 25px;
  color: black;
}
.kalalogclothes__peculiarities {
  display: none;
  top: -100px;
  transition: all 0.3s ease 0s;
}
.kalalogclothes__peculiarities.active {
  display: block;
  top: 0;
  transition: all 0.3s ease 0s;
}
.kalalogclothes__peculiarities--item {
  margin: 10px 0 10px 0;
}
.kalalogclothes__peculiarities--button {
  border: none;
  background-color: #fff;
  font-family: Raleway;
  font-style: normal;
  font-weight: 200;
  font-size: 23px;
  line-height: 25px;
  color: black;
}
.kalalogclothes__prise {
  display: flex;
  align-items: center;
}
.kalalogclothes__prise--range {
  margin: 0 10px 0 10px;
}
.kalalogclothes__prise--style {
  font-family: Raleway;
  font-style: normal;
  font-weight: 200;
  font-size: 17px;
  line-height: 22px;
  color: black;
} */
